body {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --transparent-grey: hsla(216, 12%, 54%, 0.1);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
}

h1,
p {
  margin: 0;
}

.container {
  background-color: var(--dark-blue);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 250px;
  color: var(--white);
}

.star {
  padding: 0.5rem;
  background-color: var(--transparent-grey);
  border-radius: 50%;
}

h1 {
  margin-bottom: 1rem;
}

p {
  color: var(--light-grey);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

li {
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 50%;
  background-color: var(--transparent-grey);
  transition: 0.2s all ease;
  cursor: pointer;
}

li:hover {
  background-color: var(--medium-grey);
}

li.active {
  background-color: var(--orange);
}

button {
  background-color: var(--orange);
  color: var(--white);
  width: 100%;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.1rem;
  transition: 0.2s all ease;
}

button:hover {
  cursor: pointer;
  color: var(--orange);
  background-color: var(--white);
}

.thank-you-container {
  text-align: center;
}

.result {
  display: inline-block;
  color: var(--orange);
  background-color: var(--transparent-grey);
  margin-block: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}
